@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin"), local("Roboto-Thin"), url('../fonts/Robotothin.woff2') format("woff2"), url('../fonts/Robotothin.woff') format("woff"), url('../fonts/Robotothin.ttf') format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url('../fonts/Robotothinitalic.woff2') format("woff2"), url('../fonts/Robotothinitalic.woff') format("woff"), url('../fonts/Robotothinitalic.ttf') format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/Robotolight.woff2') format("woff2"), url('../fonts/Robotolight.woff') format("woff"), url('../fonts/Robotolight.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url('../fonts/Robotolightitalic.woff2') format("woff2"), url('../fonts/Robotolightitalic.woff') format("woff"), url('../fonts/Robotolightitalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url('../fonts/Roboto.woff2') format("woff2"), url('../fonts/Roboto.woff') format("woff"), url('../fonts/Roboto.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Italic"), local("Roboto-Italic"), url('../fonts/Robotoitalic.woff2') format("woff2"), url('../fonts/Robotoitalic.woff') format("woff"), url('../fonts/Robotoitalic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("Roboto-Medium"), url('../fonts/Robotomedium.woff2') format("woff2"), url('../fonts/Robotomedium.woff') format("woff"), url('../fonts/Robotomedium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('../fonts/Robotomediumitalic.woff2') format("woff2"), url('../fonts/Robotomediumitalic.woff') format("woff"), url('../fonts/Robotomediumitalic.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/Robotobold.woff2') format("woff2"), url('../fonts/Robotobold.woff') format("woff"), url('../fonts/Robotobold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url('../fonts/Robotobolditalic.woff2') format("woff2"), url('../fonts/Robotobolditalic.woff') format("woff"), url('../fonts/Robotobolditalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black"), local("Roboto-Black"), url('../fonts/Robotoblack.woff2') format("woff2"), url('../fonts/Robotoblack.woff') format("woff"), url('../fonts/Robotoblack.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url('../fonts/Robotoblackitalic.woff2') format("woff2"), url('../fonts/Robotoblackitalic.woff') format("woff"), url('../fonts/Robotoblackitalic.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
}

section.white.flex-animation {
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  &.reg {
    display: inline-block;
    background: #c5b793;
    color: #fff;
    padding: 0 20px;
    margin-left: 5px;
    border-radius: 3px;

    /* text-transform: uppercase; */
    text-shadow: 0 0 7px #c3b07f;
  }

  &.more {
    display: inline-block;
    margin-top: 22px;
    font-weight: 300;
    color: #af9568;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #af9568;
    padding: 8px 18px;
  }

  &.add_photo {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #a79568;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #a79568;
    padding-left: 30px;
    background: url(../img/photo.png);
    width: 230px;
    height: 40px;
    background-repeat: no-repeat;
    line-height: 38px;
  }
}

.margin-null {
  line-height: 17px;
}

span.read {
  font-size: 17px !important;
  font-family: "Roboto" !important;
}

ul.social {
  display: none !important;
}

a.news-more {
  display: inline-block;
  font-weight: 300;
  color: #a79568;
  border: 1px solid;
  padding: 6px 15px;
}

h1.white.margin-bottom-small.inpage {
  font-size: 92px !important;
  font-weight: 500 !important;
  text-shadow: 0 0 20px rgba(22, 22, 23, 0.53);
}

p.heading.white.inpage-two {
  margin-top: 25px !important;
  font-size: 22px !important;
  line-height: 26px !important;
  font-family: "Roboto" !important;
  color: #fff !important;
  font-weight: 200 !important;
}

.lake-style {
  margin-top: 70px;
  padding: 4px;
  box-shadow: 0 0 4px #ccc;
}

img.img1 {
  max-width: 100%;
}

p.bold-b b {
  font-weight: 400 !important;
  color: #ab9150;
}

ul.done li {
  font-weight: 300;
  margin-bottom: 13px;
  line-height: 21px;
  padding-left: 48px;
  background: url(../img/done.png);
  background-repeat: no-repeat;
  min-height: 38px;
  line-height: 24px;
  background-position-y: 2px;
}

p.host {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  max-width: 800px;
  margin: 0 auto;
  color: #6e6b66;
  margin-bottom: 5px;
}

.color_white {
  color: #fff !important;
}

#p1 {
  em.color {
    font-size: 16px;
    line-height: 20px;
    color: #fff !important;
    font-weight: 300;
  }

  i.service {
    display: block;
    font-size: 47px;
    margin-bottom: 8px;
    transition: color .4s ease;
    color: #efddb2 !important;
  }
}

a.show-price {
  display: block;
  margin-bottom: 64px !important;
  width: 240px;
  height: 40px;
  margin: 0 auto 20px;
  background: #cbbd9a;
  color: #ffffff;
  line-height: 40px;
  border-radius: 2px;
  text-align: center;
}

ul.proved li {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;

  /* font-style: italic; */
  margin-bottom: 7px;
  list-style: disc;
  margin-left: 18px;
  line-height: 18px;
}

li.li-left {
  margin-left: 36px !important;
  list-style: circle !important;

  /* color: #ab916b; */
  font-weight: 200 !important;
}

em.em1 {
  font-weight: 300;
  line-height: 19px;
  font-size: 15px;
}

i.letsize {
  font-size: 55px;
  color: #b59f69;
}

p.way {
  margin-bottom: 10px !important;

  /* text-transform: uppercase; */
  font-weight: 300;
  text-align: left;
  color: #333;

  /* font-size: 16px; */
  line-height: 19px;
}

ul.seeul {
  li {
    font-size: 15px;
    margin-bottom: 16px;
    list-style: square;
    margin-left: 16px;
    font-weight: 400;
    font-family: "Open Sans";
    font-style: italic;
    border-bottom: 1px solid rgba(199, 177, 138, 0.5);
    padding-bottom: 13px;

    &:last-child {
      border-bottom: 0 !important;
    }
  }

  margin-top: 30px;
}

h4.big {
  &.white.moby {
    text-transform: uppercase;
    font-size: 27px !important;
    margin-bottom: 9px;
  }

  &.margin-bottom-small.white.moby1 {
    color: #444444 !important;
    font-weight: 300;
    font-size: 25px !important;
  }
}

a {
  &.btn-pro.simple.white.moby2 {
    text-decoration: none;
    color: white !important;
    font-size: 29px;
    font-weight: 300 !important;
    text-shadow: 0 0 2px rgba(101, 87, 51, 0.31);
  }

  &.btn-alt.small.white.margin-null.active.shadow.moby3 {
    color: #444444 !important;
    font-weight: 300;
    font-size: 16px !important;
  }
}

ul.rubul {
  margin-bottom: 16px;

  li {
    list-style: disc;
    margin-left: 20px;
    font-weight: 300;
    font-family: "Open Sans";
    font-style: italic;
    margin-bottom: 7px;
  }
}

p {
  &.bold-b.bb {
    font-weight: 500;
  }

  &.dopd.text {
    padding-bottom: 1px !important;
  }
}

a.add_photo.calenar {
  background: url(../img/calendar.png) !important;
  background-repeat: no-repeat !important;
  color: #bb9a70 !important;
  padding-left: 0px !important;
  width: 144px !important;
  padding-left: 50px !important;
  margin-top: 17px !important;
}

.col-md-12.text.padding-bottom-null.text-center.mb60 {
  margin-bottom: 44px;
}

ul.done2 li {
  font-weight: 300;
  margin-bottom: 3px;
  line-height: 21px;
  padding-left: 48px;
  background: url(../img/done.png);
  background-repeat: no-repeat;
  min-height: 38px;
  line-height: 37px;
  background-position-y: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

#au p.bold-b {
  text-align: left;
  text-align: justify;
  line-height: 22px;
  margin-bottom: 10px;
}

p.sent {
  font-size: 20px;

  b {
    color: #ab9150;
    font-weight: 500;
    text-transform: uppercase;
  }
}

img.about-img {
  padding: 4px;
  box-shadow: 0 0 4px #ccc;
}

h2.margin-bottom-null.title.line.left.notopborder {
  &:after {
    display: none !important;
    margin-top: 0 !important;
  }

  margin-top: 20px !important;
}

p {
  &.cont-bold {
    text-transform: uppercase;
    color: #b59b58;
    font-weight: 500;
    margin-bottom: 7px;
  }

  &.sent-us {
    color: #2F2911;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0;
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
    text-shadow: 2px 2px 40px #888b8d;
    z-index: 1;
    margin-top: 20px;
  }
}

#contact-form .form-field, #search-form .form-field {
  outline: inherit;
  border: none;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 25px;
  padding: 9px;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 14px;
  background-color: rgba(181, 181, 181, 0.19) !important;
  color: #2F2911;
  font-weight: 300 !important;
}

#contact-form #submit-contact.btn-alt, #search-form #submit-contact.btn-alt {
  font-size: 16px !important;
}

p {
  &.from-bold {
    text-transform: uppercase;
    font-weight: 500;
    color: #c5ad71;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    padding-bottom: 4px;
    margin-bottom: 7px;
  }

  &.from-desc {
    margin-bottom: 33px;
  }
}

.i4ewOd-pzNkMb-haAclf {
  background-color: rgb(125, 115, 89) !important;
}

#page-content {
  #projects ul.filters li, #projects-filters ul.filters li, #masonry-filters ul.filters li, #showcase-treks ul.filters li, #gallery ul.filters li {
    text-decoration: none !important;
  }

  #projects ul.filters li.is-checked, #projects-filters ul.filters li.is-checked, #masonry-filters ul.filters li.is-checked, #showcase-treks ul.filters li.is-checked, #gallery ul.filters li.is-checked {
    text-decoration: none !important;
    color: #ffffff !important;
    background: #cbbd9a !important;
    border-radius: 3px !important;
  }
}

.tab-content td {
  border: 1px solid #ccc;
  font-weight: 300;
  font-size: 16px;
  color: #333;
}

td.titletr {
  text-align: center;
  background: #ccbd9a;
  color: #fff;
  text-transform: uppercase;

  /* border-bottom: 2px solid #ffffff; */
}

tr.centtd td {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}

.nav-tabs li {
  &.active a {
    border: none !important;
    border-radius: 2px !important;
    text-decoration: none !important;
    color: #ffffff !important;
    background: #ccbd9a !important;
    padding: 0 20px !important;
    margin-right: 29px !important;
  }

  a {
    padding: 0 20px !important;
    text-decoration: none !important;
  }
}

li.search {
  display: none !important;
}

header nav.navbar {
  #menu .menu-holder ul li a, #sidemenu .menu-holder ul li a, #menu-classic .menu-holder ul li a {
    margin-left: 24px !important;
    font-size: 16px;
    font-family: "Roboto" !important;
    font-weight: 300 !important;
  }
}

p.footer-p {
  color: #fff;
  padding-right: 43px;
  line-height: 20px;
  font-weight: 200;
  font-size: 14px;
}

div {
  &#flexslider-nav {
    display: none !important;
  }

  &#home-wrap {
    margin-top: 80px;
  }
}

h1.white.flex-animation.main1 {
  font-family: 'Roboto';
  font-size: 53px;
  font-weight: 200;
  text-align: center;
  line-height: 60px;
}

section.white.flex-animation.main2 {
  text-align: center;
}

p.heading.white.inpage-two.main3 {
  text-shadow: none;
  text-transform: none;
  font-style: normal;
  margin-top: 61px !important;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .valign {
    margin: 16% 0 5% !important;
  }
}

@media only screen and (max-width: 767px) {
  h1.white.flex-animation.main1 {
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 200;
    text-align: center;
    line-height: 30px;
  }

  section.white.flex-animation {
    font-size: 29px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .valign {
    margin: 18% 0 5% !important;
  }

  p.heading.white.inpage-two.main3 {
    text-shadow: none;
    text-transform: none;
    font-style: normal;
    margin-top: 52px !important;
    text-align: center;
    font-size: 13px !important;
    line-height: 17px !important;
  }
}

img.img1 {
  display: block;
  margin: 0 auto;
}
