@import 'bootstrap.min';
@import 'bootstrap-theme.min';
@import 'style';
@import 'font-awesome.min';
@import 'ionicons.min';
@import 'puredesign';
@import 'flexslider';
@import 'owl.carousel';
@import 'roboto';


a,
.button {
  transition: all .2s ease 0s;
}

.uper-bold {
  font-size: 1.6vw;
  font-weight: bold;

  letter-spacing: .8px;
  text-transform: uppercase;
}

.wrapper {
  padding: 0;
}

body > div.wrapper {
  padding-bottom: 50px;
}

header {
  position: relative;

  overflow: hidden;

  color: #fff;
}

.valign {
  margin: 26% 0 5%;
}

header {
  p {
    font-size: 44px;
    font-weight: bold;

    position: relative;
    top: -50px;

    letter-spacing: .8px;
    text-transform: uppercase;
  }
  span {
    font-size: 25px;
    line-height: 60px;

    position: relative;
    top: -45px;
  }
}

.head_right_text {
  p {
    text-shadow: 1px 1px 5px rgba(120, 120, 120, .9);
  }
  span {
    text-shadow: 1px 1px 5px rgba(120, 120, 120, .9), 1px 1px 5px rgba(120, 120, 120, .9), 1px 1px 5px rgba(120, 120, 120, .9);
  }
}

.header-img {
  width: 100%;
}

.header-layer {
  position: absolute;
  z-index: 1;
  top: 0;

  width: 100%;
  height: 100%;
}

.top_menu {
  padding: 20px 0 11px;

  transition: 500ms background;
}

.top_menu_fixed {
  background-color: #00a651;
}

div.logo {
  position: relative;

  float: left;

  width: 156px;
  height: 40px;
  margin-top: 7px;

  background: url('../img/logo.png') no-repeat scroll left (bottom / auto) 100% rgba(0, 0, 0, 0);
}

header .section-x {
  font-size: 19px;
  line-height: 10px;

  margin-top: 7px;
}

.section-x nav div {
  float: right;
}

.top_menu_fixed .nav > li > a {
  text-shadow: none !important;
}

.current-menu-item a {
  color: #555 !important;
  text-shadow: 1px 1px 5px rgba(240, 240, 240, .9), 1px 1px 5px rgba(240, 240, 240, .9), 1px 1px 5px rgba(240, 240, 240, .9) !important;
}



.heder_mouse {
  position: absolute;
  bottom: 8%;
  left: 42%;
}

.button {
  padding: 2px 10px 3px 32px;

  text-transform: uppercase;

  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.login {
  margin-top: 7px;

  background: url('../img/ico-vhod-while.png') no-repeat scroll 9px 4px rgba(0, 0, 0, 0);
}

.button:hover {
  color: #000;
  background-color: #fff;
}

.login:hover {
  background-image: url('../img/ico-vhod-black.png');
}

.button.green {
  margin-top: 20px;

  color: #000;
  border-color: #000;
  background: url('../img/ico-vhod-black.png') no-repeat scroll 9px 4px;
  background-color: transparent;
  &:hover {
    color: #fff;
    border-color: #00a651;
    background: url('../img/ico-vhod-while.png') no-repeat scroll 9px 4px;
    background-color: #00a651;
  }
}

.navbar-default {
  border: 0;
  background-color: transparent;
}

.navbar {
  margin-bottom: 0;
}

// .home {
//   display: inline-block;

//   width: 25px;
//   height: 20px;
//   margin: 15px 0 15px 15px;

//   background: url('../img/home.png') no-repeat scroll left (top / 100%) 100% rgba(0, 0, 0, 0);
// }

.mouse-down {
  width: 290px;
  margin: 0 auto;
  padding: 40px 0 30px 55px;

  text-transform: uppercase;

  background: url('../img/Mouse.png') no-repeat scroll left (top / 35px) 85px rgba(0, 0, 0, 0);
}

.block-layer {
  position: absolute;

  width: 100%;
  height: 480px;

  cursor: pointer;
}

.description {
  /* min-height: 476px; */
  padding: 30px 0;

  background: url('../img/bg_two.jpg') repeat-x scroll left (top / 398px) 100% rgba(0, 0, 0, 0);
}

.dk-head {
  height: 70px;

  background: url('../img/bg-ber.jpg') repeat-x scroll left (top / 70px) 100% rgba(0, 0, 0, 0);
}

.dk-capt {
  font-size: 29px;
  font-weight: bold;
  line-height: 70px;

  text-transform: uppercase;
}

.img_butt {
  img {
    position: relative;
    left: 11%;
  }
  .img-description {
    margin-left: -15px;
    padding-top: 10px;

    text-align: center;
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}

.utitle {
  font-size: 1.4vw;

  float: left;

  letter-spacing: .8px;
  text-transform: uppercase;
}

.utext {
  margin-left: 200px;
  span {
    display: inline-block;

    text-indent: -10px;
  }
}

section.maps {
  margin-bottom: -5px;
}

.g_maps {
  border: 0;
}



.mg-head {
  background-color: #00a651;
}

.mg-capt {
  font-size: 1.86vw;
  font-weight: bold;
  line-height: 70px;

  margin-left: 5px;

  letter-spacing: .1vw;
  text-transform: uppercase;

  color: #fff;
  text-shadow: -1px -1px 2px rgba(255, 255, 255, .3), 1px 1px 2px rgba(255, 255, 255, .3);
}

.mozayka-img {
  //width: 970px;
  font-family: Arial;
  font-size: 1vw;
  line-height: 1.2em;

  width: 83.1%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrap-element {
  position: relative;

  display: inline-block;
  img {
    width: 100%;
    height: 100%;
  }
}

.bw4x2 {
  width: 99%;
}

.w3x1 {
  width: 65%;
}

.w1x1 {
  width: 29.32%;
}

.l3x1 {
  //width: 314.633px;
  width: 32.42%;
}

.l1x1 {
  width: 14.6708%;
}

.left50 .wrap-element,
.wrap-element {
  margin: 1%;
}

/*
bw4x2{
    width: 98.3%;
}
.w3x1{
width:65%;
}
.w1x1{
width: 30.62%;
}

.l3x1{
    //width: 314.633px;
    width: 32.42%;
}
.l1x1{
    //width: 145.217px;
    //width: 14.9708%;
  width: 15.2708%;
}

.left50 .wrap-element{
    margin: 5px 5px 9px;
}

*/

.img-title {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 10px 11px 15px;

  transition: .8s opacity ease;

  opacity: 0;
  border-top: 5px solid #39b276;
  background: none repeat scroll 0 0 rgba(245, 245, 245, .8);
  h5 {
    font-size: 1.2vw;
    font-weight: bold;

    margin: 8px 0;
  }
  p {
    margin: 0;
  }
}

.moz-button {
  position: absolute;
  bottom: 12px;

  display: none;

  padding: 2px 10px;

  color: #39b276;
  border: 1px solid #39b276;
  border-radius: 5px;
  background: rgba(255, 255, 255, .4);
  &:hover {
    background: rgba(255, 255, 255, .8);
  }
}

.left50 {
  float: left;

  width: 49.9%;
}

.right50 {
  float: right;

  width: 49.9%;
}

.bottom100 {
  overflow: hidden;

  width: 100%;
}

footer {
  padding: 20px 0 0;

  color: #fff;
  background: #000;
}

// FORM

.ninja-forms-form-title {
  display: none;
}

.field-wrap,
#ninja_forms_required_items {
  margin-bottom: 10px !important;
}

.ninja-forms-form-wrap .field-wrap {
  position: relative;

  overflow: hidden;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 58px;

       -o-box-sizing: border-box;
}

#ninja_forms_form_2_cont .ninja-forms-form-wrap .field-wrap {
  float: left;

  width: 45%;
  height: 57px;
  margin: 0 17px 0 0;
}

#ninja_forms_form_3_all_fields_wrap .ninja-forms-form-wrap .field-wrap {
  float: none !important;
}

.ninja-forms-form-wrap {
  .field-wrap {
    &:before {
      font-family: 'FontAwesome';
      font-size: 22px;
      line-height: 2.7em;

      position: absolute;
      top: 0;
      left: 0;

      display: inline-block;

      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      width: 58px;
      height: 55px;

      text-align: center;

      color: #00a651;
      border: 1px solid #00a651;

           -o-box-sizing: border-box;
    }
    &.textarea-wrap:before {
      height: 57px;
    }
  }
  .text-wrap input,
  .spam-wrap input,
  .textarea-wrap textarea {
    font-family: 'Daxline Regular', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    padding: 17px 18px 16px 8px;

    -webkit-transition: all .2s ease-in-out;
       -moz-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

    color: #00a651;
    border: 1px solid #00a651;
    border-left: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    outline: none;

         -o-border-radius: 0;
  }
  textarea {
    height: 57px !important;

    border: 1px solid #fff;
    //width: 99% !important;
  }
}

#ninja_forms_form_2_all_fields_wrap .textarea-wrap {
  width: 94% !important;
}

input.input-submit[type='submit'],
#nf_processing_1 input,
.close-modal-custom {
  font-family: 'Daxline Regular', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;

  display: inline-block;

  width: 100%;
  height: 55px;
  padding: 17px 19px 17px;

  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
  text-align: center;
  text-transform: uppercase;

  color: white !important;
  border: none;
  background: #00a651;

  -webkit-font-smoothing: antialiased;
}

.ninja-forms-form-wrap .submit-wrap:hover {
  opacity: .8;
}

input.input-submit[type='submit']:hover {
  opacity: .95;
}

.input-name-wrap:before {
  content: '\f007';
}

.input-email-wrap:before {
  content: '\f0e0';
}

.input-subject-wrap:before {
  content: '\f129';
}

.input-phone-wrap:before {
  content: '\f10b';
}

.input-message-wrap:before {
  content: '\f075';
}

.input-spam-wrap:before {
  content: '\f070';
}

.input-submit-wrap:before {
  content: '\f00c';
}

.ninja-forms-cont {
  position: relative;

  margin-right: 30px;
  padding: 0 0 10px 0;
}

.ninja-forms-field-error {
  font-family: 'Daxline Regular', Arial, sans-serif;
  font-size: 14px;

  position: absolute;
  top: 1px;

  overflow: hidden;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 76%;
  padding: 19px 17px 15px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;

  color: #fff;
  background: #ef4a43;

       -o-box-sizing: border-box;
}

.ninja-forms-error-msg {
  display: none;
}

.textarea-wrap {
  overflow: hidden;
  .ninja-forms-field-error {
    width: 87.2%;
    padding: 20px 17px 23px;
  }
}

.ninja-forms-field-error p {
  display: inline-block;

  margin-bottom: 0;
}

#ninja_forms_field_101,
#nf_processing_1 input {
  width: 100% !important;
  margin-top: 0;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

       -o-border-radius: 0;
}

.contacs-data ul {
  padding-left: 0;

  list-style: none;
  li {
    line-height: 21px;

    padding: 2px 0;
    &:hover {
      color: #854318;
      i {
        color: #854318;
      }
    }
  }
}

.news-text img {
  float: left;

  width: auto;
  height: auto;
  padding: 6px 20px 5px 0;
}

.mini-title,
#ninja_forms_form_3_response_msg {
  font-size: 19px;
  line-height: 25px;

  color: #854318;
}

.base_template {
  text-align: justify;
}

.is_overlay {
  display: block;

  width: 100%;
  height: 100%;
  video {
    //background: url("/videos/bck.jpg") no-repeat scroll 0% 0% / cover transparent;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 80%;
    height: auto;
    min-height: 100%;
  }
}

.ninja-forms-field-error {
  cursor: pointer;
}

/* ╨▓╨╡╤Б╤М ╨║╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╨┐╨╛╨┤╨┤╨╡╤А╨╢╨╕╨▓╨░╨╡╤В ╨┐╨╡╤А╤Б╨┐╨╡╨║╤В╨╕╨▓╤Г */

.flip-container {
  position: absolute;
  right: 0;
  bottom: -12px;

  width: 320px;
  height: 202px;

  cursor: pointer;

  perspective: 1000;
  &:hover .flipper,
  &.hover .flipper {
    transform: rotateX(-180deg);
  }
}

/* ╨┐╨╡╤А╨╡╨▓╨╡╤А╨╜╨╕╤В╨╡ ╤Б╤В╨╛╤А╨╛╨╜╤Г ╨┐╤А╨╕ ╨┐╤А╨╛╨▓╨╡╨┤╨╡╨╜╨╕╨╕ ╨╝╤Л╤И╤М╤О */

.front,
.back {
  width: 320px;
  height: 202px;
}

/* ╨╖╨┤╨╡╤Б╤М ╨╜╨░╤Е╨╛╨┤╨╕╤В╤Б╤П ╤Б╨║╨╛╤А╨╛╤Б╤В╤М ╨┐╨╡╤А╨╡╨▓╨╡╤А╤В╤Л╨▓╨░╨╜╨╕╤П */

.flipper {
  position: relative;

  transition: .6s;
  transform-origin: 100% 101px;

  transform-style: preserve-3d;
  /* ╨┐╨╛╨╗╨╛╨▓╨╕╨╜╨░ ╨▓╤Л╤Б╨╛╤В╤Л */
}

/* ╤Б╨║╤А╨╛╨╣╤В╨╡ ╨╛╨▒╤А╨░╤В╨╜╤Г╤О ╤Б╤В╨╛╤А╨╛╨╜╤Г ╨▓╨╛ ╨▓╤А╨╡╨╝╤П ╨┐╨╡╤А╨╡╨▓╨╛╤А╨╛╤В╨░ */

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;

  backface-visibility: hidden;
}

/* ╨╗╨╕╤Ж╨╡╨▓╨░╤П ╤Б╤В╨╛╤А╨╛╨╜╨░ ╤А╨░╨╖╨╝╨╡╤Й╨╡╨╜╨░ ╨╜╨░╨┤ ╨╛╨▒╤А╨░╤В╨╜╨╛╨╣ */

.front {
  z-index: 2;

  background: url(../img/dis_front.jpg) 0 (0 / cover) no-repeat;
}

/* ╨╛╨▒╤А╨░╤В╨╜╨░╤П, ╨╕╨╖╨╜╨░╤З╨░╨╗╤М╨╜╨╛ ╤Б╨║╤А╤Л╤В╨░╤П ╤Б╤В╨╛╤А╨╛╨╜╨░ */

.back {
  transform: rotateX(180deg);

  background: url(../img/dis_back.jpg) 0 (0 / cover) no-repeat;
}

#wp-admin-bar-wp-logo {
  display: none;
}

.add_new_item {
  position: fixed;
  right: .6%;
  bottom: 72px;

  width: 7.5%;
  padding: 5px 2px 0 0;

  cursor: pointer;
  transition: 1s ease opacity;
  text-align: center;

  color: #fff;
  background: #00a651;
  .dashicons-plus {
    font-size: 64px;

    width: 100%;
    height: 50px;
  }
}

.opatity_hide {
  display: block;

  opacity: 0;
}

body.modal-open {
  .top_menu {
    padding-right: 21px;
  }
  .add_new_item {
    width: 7.388%;
    margin-right: 21px;
  }
}

.modal-body {
  overflow: hidden;
}

.modal-content {
  border-radius: 3px;
}

.modal-header {
  color: #fff;
  border-bottom: none;
  background-color: #00a651;
  .close {
    opacity: 1;
    color: #fff;
  }
}

.btn-default {
  border-radius: 2px;
}

.btn-primary {
  border-color: #00a651;
  background-color: #00a651;
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: #fff;
    border-color: #00a651;
    background-color: #00a651;
  }
}

.open > .dropdown-toggle.btn-primary {
  color: #fff;
  border-color: #00a651;
  background-color: #00a651;
}

.n_comment {
  float: left;
}

.n_photo {
  float: right;
}

.n_load {
  margin-top: 20px;
}

.n_note {
  clear: both;

  padding-top: 15px;
}

.load_info {
  position: absolute;
  z-index: 1;
  top: 129px;
  right: 56px;

  color: #fff;
  background-color: #00a651;
  p {
    padding: 30px 50px 20px 90px;
  }
  .dashicons {
    font-size: 64px;

    float: left;

    width: 55px;
    height: 55px;
    padding: 7px 0 0 9px;
  }
}

/* lightbox-image fix*/

#lightbox-image {
  max-width: 100% !important;
}

#lightbox-container-image-box {
  max-width: 90% !important;
}
